*.pyc

obj/*
bin/*
!bin/red

build/*
appbuild/*
app
simplegames/build/*

packages/*/*
node_modules/*
*node_modules*
*.orig
*.suo
.DS_Store

shared/cards/**/*.png
shared/cards/**/*.o.svg
shared/cards/**/*.css

.idea/

*.bat