#report-link-left, #report-link-right {
	color:black!important;
	text-align: center;
	padding-top: 5px;
	font-size: 12px;
	cursor: pointer;
	color: blue!important;
}

#ad-dialog {
	width: 315px;
	background: rgb(0,160,0);
	border-radius: 15px;
	border: solid 2px white;
    box-shadow: black 0 0 10px;
    position: fixed;
    top: 20%;
}

#ad-dialog img {
	max-width:95%;
	max-height:160px;
	margin: 0 auto;
	display: block;
}

#ad-text {
	width:290px;
	height:150px;
	resize: none;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#ad-close, #ad-send {

}

#ad-dialog p {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
	font-size: 13px;
	font-family: Arial,Helvetica,sans-serif;
	color:white;
}

#ad-button-div {
	display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
}

#ad-email-input {
	font-size:13px;
	color:white;
	font-family: Arial,Helvetica,sans-serif;
	text-align: center;
}